BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 8ab07c199057

CREATE TABLE analytics_logs (
    id SERIAL NOT NULL, 
    session_id VARCHAR, 
    query VARCHAR, 
    rewritten_query VARCHAR, 
    response_time FLOAT, 
    retrieved_docs INTEGER, 
    tool_used VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_analytics_logs_id ON analytics_logs (id);

CREATE TABLE audit_logs (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    action VARCHAR, 
    endpoint VARCHAR, 
    timestamp TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

CREATE TABLE conversations (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    session_id VARCHAR, 
    query TEXT, 
    response TEXT, 
    model_used VARCHAR, 
    timestamp TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_conversations_id ON conversations (id);

CREATE INDEX ix_conversations_session_id ON conversations (session_id);

CREATE TABLE document_jobs (
    id SERIAL NOT NULL, 
    filename VARCHAR NOT NULL, 
    status VARCHAR, 
    chunks_stored INTEGER, 
    error_message VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    completed_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_document_jobs_id ON document_jobs (id);

CREATE TABLE documents (
    id SERIAL NOT NULL, 
    content TEXT NOT NULL, 
    embedding VECTOR(384), 
    source_file VARCHAR, 
    page_number INTEGER, 
    department VARCHAR, 
    access_level VARCHAR, 
    uploaded_by INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_documents_id ON documents (id);

CREATE TABLE permissions (
    id SERIAL NOT NULL, 
    name VARCHAR, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_permissions_id ON permissions (id);

CREATE TABLE sessions (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    refresh_token VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (refresh_token)
);

CREATE INDEX ix_sessions_id ON sessions (id);

CREATE TABLE users (
    id SERIAL NOT NULL, 
    email VARCHAR, 
    password VARCHAR, 
    role VARCHAR, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE role_permissions (
    id SERIAL NOT NULL, 
    role VARCHAR, 
    permission_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(permission_id) REFERENCES permissions (id)
);

CREATE INDEX ix_role_permissions_id ON role_permissions (id);

INSERT INTO alembic_version (version_num) VALUES ('8ab07c199057') RETURNING alembic_version.version_num;

-- Running upgrade 8ab07c199057 -> 970427ce953c

ALTER TABLE documents ADD COLUMN original_content TEXT;

ALTER TABLE documents ADD COLUMN language VARCHAR;

ALTER TABLE documents ADD COLUMN is_translated BOOLEAN;

UPDATE alembic_version SET version_num='970427ce953c' WHERE alembic_version.version_num = '8ab07c199057';

-- Running upgrade 970427ce953c -> a25c3c680800

UPDATE alembic_version SET version_num='a25c3c680800' WHERE alembic_version.version_num = '970427ce953c';

-- Running upgrade a25c3c680800 -> 50dd91df128e

CREATE TABLE conversation_sessions (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    title VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_conversation_sessions_id ON conversation_sessions (id);

CREATE TABLE messages (
    id SERIAL NOT NULL, 
    conversation_id INTEGER NOT NULL, 
    role VARCHAR NOT NULL, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversation_sessions (id)
);

CREATE INDEX ix_messages_id ON messages (id);

UPDATE alembic_version SET version_num='50dd91df128e' WHERE alembic_version.version_num = 'a25c3c680800';

-- Running upgrade 50dd91df128e -> f27a1a140ccf

ALTER TABLE messages DROP CONSTRAINT messages_conversation_id_fkey;

ALTER TABLE messages ADD FOREIGN KEY(conversation_id) REFERENCES conversation_sessions (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='f27a1a140ccf' WHERE alembic_version.version_num = '50dd91df128e';

-- Running upgrade f27a1a140ccf -> 76450a702343

UPDATE alembic_version SET version_num='76450a702343' WHERE alembic_version.version_num = 'f27a1a140ccf';

-- Running upgrade 76450a702343 -> e1093cf1b80f

ALTER TABLE users ADD COLUMN name VARCHAR;

UPDATE users
        SET name = 'Unknown User'
        WHERE name IS NULL;

ALTER TABLE users ALTER COLUMN name SET NOT NULL;

UPDATE alembic_version SET version_num='e1093cf1b80f' WHERE alembic_version.version_num = '76450a702343';

-- Running upgrade e1093cf1b80f -> 3246eef94f4a

ALTER TABLE users ADD COLUMN is_active BOOLEAN;

ALTER TABLE users ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE;

UPDATE alembic_version SET version_num='3246eef94f4a' WHERE alembic_version.version_num = 'e1093cf1b80f';

-- Running upgrade 3246eef94f4a -> 8e73e1bdbca0

CREATE TABLE token_usage (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    provider VARCHAR NOT NULL, 
    model VARCHAR NOT NULL, 
    prompt_tokens INTEGER, 
    completion_tokens INTEGER, 
    total_tokens INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_token_usage_id ON token_usage (id);

UPDATE alembic_version SET version_num='8e73e1bdbca0' WHERE alembic_version.version_num = '3246eef94f4a';

-- Running upgrade 8e73e1bdbca0 -> 176e99c1dd7d

ALTER TABLE users ADD COLUMN plan_name VARCHAR DEFAULT 'free' NOT NULL;

ALTER TABLE users ADD COLUMN token_limit BIGINT DEFAULT '1000000' NOT NULL;

UPDATE alembic_version SET version_num='176e99c1dd7d' WHERE alembic_version.version_num = '8e73e1bdbca0';

-- Running upgrade 176e99c1dd7d -> 9f667c9a326a

CREATE TABLE api_keys (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    key_hash VARCHAR NOT NULL, 
    is_active BOOLEAN, 
    last_used_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (key_hash)
);

CREATE INDEX ix_api_keys_id ON api_keys (id);

UPDATE alembic_version SET version_num='9f667c9a326a' WHERE alembic_version.version_num = '176e99c1dd7d';

-- Running upgrade 9f667c9a326a -> 227ef1119f3d

CREATE TABLE api_requests (
    id SERIAL NOT NULL, 
    request_id VARCHAR NOT NULL, 
    user_id INTEGER NOT NULL, 
    api_key_id INTEGER, 
    model_name VARCHAR NOT NULL, 
    provider VARCHAR NOT NULL, 
    prompt_tokens BIGINT, 
    completion_tokens BIGINT, 
    total_tokens BIGINT, 
    latency_ms INTEGER, 
    status_code INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(api_key_id) REFERENCES api_keys (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (request_id)
);

CREATE INDEX ix_api_requests_id ON api_requests (id);

UPDATE alembic_version SET version_num='227ef1119f3d' WHERE alembic_version.version_num = '9f667c9a326a';

-- Running upgrade 227ef1119f3d -> 918d517b86a9

CREATE TABLE models (
    id SERIAL NOT NULL, 
    model_name VARCHAR NOT NULL, 
    provider VARCHAR NOT NULL, 
    description VARCHAR, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (model_name)
);

CREATE INDEX ix_models_id ON models (id);

UPDATE alembic_version SET version_num='918d517b86a9' WHERE alembic_version.version_num = '227ef1119f3d';

-- Running upgrade 918d517b86a9 -> 9f403f302dd8

CREATE TABLE model_pricing (
    id SERIAL NOT NULL, 
    model_name VARCHAR NOT NULL, 
    provider VARCHAR NOT NULL, 
    input_cost_per_1k FLOAT NOT NULL, 
    output_cost_per_1k FLOAT NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (model_name)
);

CREATE INDEX ix_model_pricing_id ON model_pricing (id);

ALTER TABLE api_requests ALTER COLUMN source SET NOT NULL;

UPDATE alembic_version SET version_num='9f403f302dd8' WHERE alembic_version.version_num = '918d517b86a9';

-- Running upgrade 9f403f302dd8 -> e942f203cec5

DROP TABLE payments;

DROP TABLE invoices;

DROP TABLE usage_limits;

CREATE INDEX ix_subscriptions_id ON subscriptions (id);

ALTER TABLE subscriptions ADD FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE wallet_transactions ALTER COLUMN wallet_id SET NOT NULL;

ALTER TABLE wallet_transactions ALTER COLUMN transaction_type SET NOT NULL;

ALTER TABLE wallet_transactions ALTER COLUMN amount SET NOT NULL;

CREATE INDEX ix_wallet_transactions_id ON wallet_transactions (id);

ALTER TABLE wallet_transactions ADD FOREIGN KEY(wallet_id) REFERENCES wallets (id);

ALTER TABLE wallets ALTER COLUMN user_id SET NOT NULL;

CREATE INDEX ix_wallets_id ON wallets (id);

ALTER TABLE wallets ADD FOREIGN KEY(user_id) REFERENCES users (id);

UPDATE alembic_version SET version_num='e942f203cec5' WHERE alembic_version.version_num = '9f403f302dd8';

-- Running upgrade e942f203cec5 -> ac9172feec5f

CREATE TABLE usage_limits (
    id SERIAL NOT NULL, 
    plan_name VARCHAR NOT NULL, 
    monthly_token_limit BIGINT NOT NULL, 
    monthly_request_limit BIGINT NOT NULL, 
    monthly_cost_limit INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (plan_name)
);

CREATE INDEX ix_usage_limits_id ON usage_limits (id);

CREATE TABLE invoices (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    invoice_number VARCHAR NOT NULL, 
    amount FLOAT NOT NULL, 
    currency VARCHAR, 
    status VARCHAR, 
    billing_month VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (invoice_number)
);

CREATE INDEX ix_invoices_id ON invoices (id);

ALTER TABLE subscriptions ADD COLUMN monthly_token_limit BIGINT;

ALTER TABLE subscriptions ADD COLUMN auto_renew BOOLEAN;

ALTER TABLE subscriptions DROP COLUMN monthly_limit;

UPDATE alembic_version SET version_num='ac9172feec5f' WHERE alembic_version.version_num = 'e942f203cec5';

-- Running upgrade ac9172feec5f -> dce79302ae29

UPDATE alembic_version SET version_num='dce79302ae29' WHERE alembic_version.version_num = 'ac9172feec5f';

-- Running upgrade dce79302ae29 -> 27825b1c7022

ALTER TABLE wallet_transactions ADD COLUMN user_id INTEGER NOT NULL;

ALTER TABLE wallet_transactions ADD COLUMN status VARCHAR(20) NOT NULL;

ALTER TABLE wallet_transactions ADD COLUMN balance_before NUMERIC(18, 6) NOT NULL;

ALTER TABLE wallet_transactions ADD COLUMN balance_after NUMERIC(18, 6) NOT NULL;

ALTER TABLE wallet_transactions ADD COLUMN reference_type VARCHAR(50);

ALTER TABLE wallet_transactions ADD COLUMN reference_id VARCHAR(255);

ALTER TABLE wallet_transactions ADD FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE wallets ADD COLUMN currency VARCHAR(10) NOT NULL;

ALTER TABLE wallets ADD COLUMN status VARCHAR(20) NOT NULL;

ALTER TABLE wallets ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE wallets ALTER COLUMN balance SET NOT NULL;

UPDATE alembic_version SET version_num='27825b1c7022' WHERE alembic_version.version_num = 'dce79302ae29';

-- Running upgrade 27825b1c7022 -> a8a7151213bb

ALTER TABLE invoices ADD COLUMN subscription_id INTEGER;

ALTER TABLE invoices ADD COLUMN invoice_type VARCHAR(50) NOT NULL;

ALTER TABLE invoices ADD COLUMN subtotal NUMERIC(18, 6) NOT NULL;

ALTER TABLE invoices ADD COLUMN tax_amount NUMERIC(18, 6) NOT NULL;

ALTER TABLE invoices ADD COLUMN payment_provider VARCHAR(50);

ALTER TABLE invoices ADD COLUMN payment_reference VARCHAR(255);

ALTER TABLE invoices ADD COLUMN auto_renew BOOLEAN NOT NULL;

ALTER TABLE invoices ADD COLUMN due_date TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE invoices ADD COLUMN paid_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE invoices ADD COLUMN notes VARCHAR(500);

ALTER TABLE invoices ADD COLUMN is_active BOOLEAN NOT NULL;

ALTER TABLE invoices ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL;

ALTER TABLE invoices ALTER COLUMN amount TYPE NUMERIC(18, 6);

ALTER TABLE invoices ALTER COLUMN currency SET NOT NULL;

ALTER TABLE invoices ALTER COLUMN status SET NOT NULL;

ALTER TABLE invoices ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE invoices DROP CONSTRAINT invoices_invoice_number_key;

CREATE UNIQUE INDEX ix_invoices_invoice_number ON invoices (invoice_number);

ALTER TABLE invoices ADD FOREIGN KEY(subscription_id) REFERENCES subscriptions (id);

UPDATE alembic_version SET version_num='a8a7151213bb' WHERE alembic_version.version_num = '27825b1c7022';

-- Running upgrade a8a7151213bb -> a372e9782eea

CREATE TABLE payments (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    invoice_id INTEGER, 
    subscription_id INTEGER, 
    provider VARCHAR(50) NOT NULL, 
    payment_type VARCHAR(50) NOT NULL, 
    amount NUMERIC(18, 6) NOT NULL, 
    currency VARCHAR(10) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    gateway_order_id VARCHAR(255), 
    gateway_payment_id VARCHAR(255), 
    payment_metadata JSON, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id), 
    FOREIGN KEY(subscription_id) REFERENCES subscriptions (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_payments_id ON payments (id);

UPDATE alembic_version SET version_num='a372e9782eea' WHERE alembic_version.version_num = 'a8a7151213bb';

-- Running upgrade a372e9782eea -> 134f0d0dac8f

CREATE TABLE plans (
    id BIGSERIAL NOT NULL, 
    plan_code VARCHAR(50) NOT NULL, 
    plan_name VARCHAR(100) NOT NULL, 
    description TEXT, 
    is_public BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_plans_id ON plans (id);

CREATE UNIQUE INDEX ix_plans_plan_code ON plans (plan_code);

CREATE TABLE plan_versions (
    id BIGSERIAL NOT NULL, 
    plan_id BIGINT NOT NULL, 
    version_number INTEGER NOT NULL, 
    monthly_token_limit BIGINT NOT NULL, 
    monthly_request_limit BIGINT NOT NULL, 
    monthly_cost_limit BIGINT, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(plan_id) REFERENCES plans (id), 
    CONSTRAINT uq_plan_version UNIQUE (plan_id, version_number)
);

CREATE INDEX ix_plan_versions_id ON plan_versions (id);

CREATE INDEX ix_plan_versions_plan_id ON plan_versions (plan_id);

CREATE TABLE plan_prices (
    id BIGSERIAL NOT NULL, 
    plan_version_id BIGINT NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    external_price_id VARCHAR(255), 
    currency VARCHAR(10) NOT NULL, 
    amount NUMERIC(18, 6) NOT NULL, 
    billing_cycle VARCHAR(20) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(plan_version_id) REFERENCES plan_versions (id), 
    CONSTRAINT uq_plan_price UNIQUE (plan_version_id, provider, currency, billing_cycle)
);

CREATE INDEX ix_plan_prices_id ON plan_prices (id);

CREATE INDEX ix_plan_prices_plan_version_id ON plan_prices (plan_version_id);

UPDATE alembic_version SET version_num='134f0d0dac8f' WHERE alembic_version.version_num = 'a372e9782eea';

-- Running upgrade 134f0d0dac8f -> a2452f670199

ALTER TABLE subscriptions ADD COLUMN plan_id BIGINT;

ALTER TABLE subscriptions ADD COLUMN plan_version_id BIGINT;

ALTER TABLE subscriptions ADD CONSTRAINT fk_subscriptions_plan_id FOREIGN KEY(plan_id) REFERENCES plans (id);

ALTER TABLE subscriptions ADD CONSTRAINT fk_subscriptions_plan_version_id FOREIGN KEY(plan_version_id) REFERENCES plan_versions (id);

UPDATE alembic_version SET version_num='a2452f670199' WHERE alembic_version.version_num = '134f0d0dac8f';

-- Running upgrade a2452f670199 -> ea1143c72e65

DROP TABLE usage_limits;

UPDATE alembic_version SET version_num='ea1143c72e65' WHERE alembic_version.version_num = 'a2452f670199';

-- Running upgrade ea1143c72e65 -> 86e350de9a4a

ALTER TABLE users DROP COLUMN plan_name;

ALTER TABLE users DROP COLUMN token_limit;

UPDATE alembic_version SET version_num='86e350de9a4a' WHERE alembic_version.version_num = 'ea1143c72e65';

-- Running upgrade 86e350de9a4a -> 25e963c28332

DROP INDEX ix_token_usage_id;

DROP TABLE token_usage;

ALTER TABLE payments ADD COLUMN payment_reference VARCHAR(100);

ALTER TABLE payments ADD COLUMN payment_method VARCHAR(100);

ALTER TABLE payments ADD COLUMN failure_reason VARCHAR(500);

ALTER TABLE payments ADD COLUMN idempotency_key VARCHAR(255);

ALTER TABLE payments ADD COLUMN processed_at TIMESTAMP WITHOUT TIME ZONE;

UPDATE payments
        SET payment_reference = 'PAY-' || id
        WHERE payment_reference IS NULL;

ALTER TABLE payments ALTER COLUMN payment_reference SET NOT NULL;

CREATE UNIQUE INDEX ix_payments_idempotency_key ON payments (idempotency_key);

CREATE UNIQUE INDEX ix_payments_payment_reference ON payments (payment_reference);

UPDATE alembic_version SET version_num='25e963c28332' WHERE alembic_version.version_num = '86e350de9a4a';

-- Running upgrade 25e963c28332 -> 6ce700d426f1

ALTER TABLE invoices ADD COLUMN currency_symbol VARCHAR(10);

ALTER TABLE invoices ADD COLUMN period_start TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE invoices ADD COLUMN period_end TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE invoices ADD COLUMN external_reference VARCHAR(255);

UPDATE alembic_version SET version_num='6ce700d426f1' WHERE alembic_version.version_num = '25e963c28332';

-- Running upgrade 6ce700d426f1 -> d5527af1c2f5

CREATE INDEX ix_invoices_billing_month ON invoices (billing_month);

UPDATE alembic_version SET version_num='d5527af1c2f5' WHERE alembic_version.version_num = '6ce700d426f1';

-- Running upgrade d5527af1c2f5 -> eec17e46cf49

CREATE TABLE company_settings (
    id SERIAL NOT NULL, 
    company_name VARCHAR(255) NOT NULL, 
    gst_number VARCHAR(100), 
    cin_number VARCHAR(100), 
    support_email VARCHAR(255), 
    website VARCHAR(255), 
    address_line_1 VARCHAR(255), 
    address_line_2 VARCHAR(255), 
    city VARCHAR(100), 
    state VARCHAR(100), 
    country VARCHAR(100), 
    postal_code VARCHAR(20), 
    bank_name VARCHAR(255), 
    account_holder_name VARCHAR(255), 
    account_number VARCHAR(255), 
    ifsc_code VARCHAR(100), 
    logo_url VARCHAR(500), 
    invoice_footer VARCHAR(1000), 
    terms_and_conditions VARCHAR(5000), 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_company_settings_id ON company_settings (id);

UPDATE alembic_version SET version_num='eec17e46cf49' WHERE alembic_version.version_num = 'd5527af1c2f5';

-- Running upgrade eec17e46cf49 -> 4f6a6292259b

ALTER TABLE company_settings ADD COLUMN tax_percentage NUMERIC(5, 2) DEFAULT '18.00' NOT NULL;

ALTER TABLE company_settings ADD COLUMN invoice_prefix VARCHAR(50) DEFAULT 'INV' NOT NULL;

ALTER TABLE company_settings ADD COLUMN currency_code VARCHAR(10) DEFAULT 'INR' NOT NULL;

ALTER TABLE company_settings ADD COLUMN currency_symbol VARCHAR(10) DEFAULT 'Γé╣' NOT NULL;

UPDATE alembic_version SET version_num='4f6a6292259b' WHERE alembic_version.version_num = 'eec17e46cf49';

-- Running upgrade 4f6a6292259b -> 95d83ce39bc4

CREATE TABLE providers (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    provider_class VARCHAR(255) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    priority INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_providers_code ON providers (code);

CREATE INDEX ix_providers_id ON providers (id);

UPDATE alembic_version SET version_num='95d83ce39bc4' WHERE alembic_version.version_num = '4f6a6292259b';

-- Running upgrade 95d83ce39bc4 -> 5fb5c4bfee2e

ALTER TABLE models ADD COLUMN provider_id INTEGER;

ALTER TABLE models ADD COLUMN code VARCHAR(100);

ALTER TABLE models ADD COLUMN display_name VARCHAR(255);

ALTER TABLE models ADD CONSTRAINT fk_models_provider_id FOREIGN KEY(provider_id) REFERENCES providers (id);

UPDATE models
        SET provider_id = (
            SELECT id
            FROM providers
            WHERE LOWER(providers.code)
            = LOWER(models.provider)
        );

UPDATE models
        SET code = model_name;

UPDATE models
        SET display_name = model_name;

ALTER TABLE models ALTER COLUMN provider_id SET NOT NULL;

ALTER TABLE models ALTER COLUMN code SET NOT NULL;

ALTER TABLE models ALTER COLUMN display_name SET NOT NULL;

ALTER TABLE models ADD CONSTRAINT uq_models_code UNIQUE (code);

ALTER TABLE models DROP COLUMN provider;

ALTER TABLE models DROP COLUMN model_name;

UPDATE alembic_version SET version_num='5fb5c4bfee2e' WHERE alembic_version.version_num = '95d83ce39bc4';

-- Running upgrade 5fb5c4bfee2e -> 1c1436417a3b

CREATE TABLE model_versions (
    id SERIAL NOT NULL, 
    model_id INTEGER NOT NULL, 
    version VARCHAR(100) NOT NULL, 
    display_name VARCHAR(255) NOT NULL, 
    description VARCHAR, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_model_versions_model_id FOREIGN KEY(model_id) REFERENCES models (id), 
    CONSTRAINT uq_model_versions_model_version UNIQUE (model_id, version)
);

CREATE INDEX ix_model_versions_id ON model_versions (id);

CREATE INDEX ix_model_versions_model_id ON model_versions (model_id);

CREATE INDEX ix_model_versions_version ON model_versions (version);

UPDATE alembic_version SET version_num='1c1436417a3b' WHERE alembic_version.version_num = '5fb5c4bfee2e';

-- Running upgrade 1c1436417a3b -> ad2683a19e0d

CREATE TABLE assistants (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    description VARCHAR, 
    system_prompt TEXT, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_assistants_code ON assistants (code);

CREATE INDEX ix_assistants_id ON assistants (id);

UPDATE alembic_version SET version_num='ad2683a19e0d' WHERE alembic_version.version_num = '1c1436417a3b';

-- Running upgrade ad2683a19e0d -> c3e4815366de

CREATE TABLE assistant_model_versions (
    id SERIAL NOT NULL, 
    assistant_id INTEGER NOT NULL, 
    model_version_id INTEGER NOT NULL, 
    is_default BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_amv_assistant_id FOREIGN KEY(assistant_id) REFERENCES assistants (id), 
    CONSTRAINT fk_amv_model_version_id FOREIGN KEY(model_version_id) REFERENCES model_versions (id), 
    CONSTRAINT uq_assistant_model_version UNIQUE (assistant_id, model_version_id)
);

CREATE INDEX ix_assistant_model_versions_assistant_id ON assistant_model_versions (assistant_id);

CREATE INDEX ix_assistant_model_versions_id ON assistant_model_versions (id);

CREATE INDEX ix_assistant_model_versions_model_version_id ON assistant_model_versions (model_version_id);

UPDATE alembic_version SET version_num='c3e4815366de' WHERE alembic_version.version_num = 'ad2683a19e0d';

-- Running upgrade c3e4815366de -> e6e82d093bb7

CREATE TABLE knowledge_bases (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    description TEXT, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_knowledge_bases_code ON knowledge_bases (code);

CREATE INDEX ix_knowledge_bases_id ON knowledge_bases (id);

UPDATE alembic_version SET version_num='e6e82d093bb7' WHERE alembic_version.version_num = 'c3e4815366de';

-- Running upgrade e6e82d093bb7 -> 7e5285d5fb4e

CREATE TABLE assistant_knowledge_bases (
    id SERIAL NOT NULL, 
    assistant_id INTEGER NOT NULL, 
    knowledge_base_id INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_akb_assistant_id FOREIGN KEY(assistant_id) REFERENCES assistants (id), 
    CONSTRAINT fk_akb_knowledge_base_id FOREIGN KEY(knowledge_base_id) REFERENCES knowledge_bases (id), 
    CONSTRAINT uq_assistant_knowledge_base UNIQUE (assistant_id, knowledge_base_id)
);

CREATE INDEX ix_assistant_knowledge_bases_assistant_id ON assistant_knowledge_bases (assistant_id);

CREATE INDEX ix_assistant_knowledge_bases_id ON assistant_knowledge_bases (id);

CREATE INDEX ix_assistant_knowledge_bases_knowledge_base_id ON assistant_knowledge_bases (knowledge_base_id);

UPDATE alembic_version SET version_num='7e5285d5fb4e' WHERE alembic_version.version_num = 'e6e82d093bb7';

-- Running upgrade 7e5285d5fb4e -> 6079c1766143

CREATE TABLE knowledge_base_documents (
    id SERIAL NOT NULL, 
    knowledge_base_id INTEGER NOT NULL, 
    file_name VARCHAR(500) NOT NULL, 
    file_path VARCHAR(1000) NOT NULL, 
    mime_type VARCHAR(255), 
    file_size BIGINT, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    error_message VARCHAR, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_kbd_knowledge_base_id FOREIGN KEY(knowledge_base_id) REFERENCES knowledge_bases (id)
);

CREATE INDEX ix_knowledge_base_documents_id ON knowledge_base_documents (id);

CREATE INDEX ix_knowledge_base_documents_knowledge_base_id ON knowledge_base_documents (knowledge_base_id);

UPDATE alembic_version SET version_num='6079c1766143' WHERE alembic_version.version_num = '7e5285d5fb4e';

-- Running upgrade 6079c1766143 -> ae2009452679

ALTER TABLE documents ADD COLUMN knowledge_base_document_id INTEGER NOT NULL;

CREATE INDEX ix_documents_knowledge_base_document_id ON documents (knowledge_base_document_id);

ALTER TABLE documents ADD CONSTRAINT fk_document_kbd_id FOREIGN KEY(knowledge_base_document_id) REFERENCES knowledge_base_documents (id);

UPDATE alembic_version SET version_num='ae2009452679' WHERE alembic_version.version_num = '6079c1766143';

-- Running upgrade ae2009452679 -> be4c89ad1e6a

ALTER TABLE document_jobs ADD COLUMN knowledge_base_document_id INTEGER;

CREATE INDEX ix_document_jobs_knowledge_base_document_id ON document_jobs (knowledge_base_document_id);

ALTER TABLE document_jobs ADD CONSTRAINT fk_document_jobs_kbd_id FOREIGN KEY(knowledge_base_document_id) REFERENCES knowledge_base_documents (id);

UPDATE alembic_version SET version_num='be4c89ad1e6a' WHERE alembic_version.version_num = 'ae2009452679';

-- Running upgrade be4c89ad1e6a -> dda8ed4848d5

CREATE INDEX ix_akb_assistant_kb ON assistant_knowledge_bases (assistant_id, knowledge_base_id);

ALTER TABLE assistants ALTER COLUMN description TYPE TEXT;

ALTER TABLE document_jobs ALTER COLUMN knowledge_base_document_id SET NOT NULL;

ALTER TABLE models ALTER COLUMN is_active SET NOT NULL;

ALTER TABLE models ALTER COLUMN created_at SET NOT NULL;

UPDATE alembic_version SET version_num='dda8ed4848d5' WHERE alembic_version.version_num = 'be4c89ad1e6a';

-- Running upgrade dda8ed4848d5 -> 3740c95fb57a

CREATE TABLE assistant_configs (
    id SERIAL NOT NULL, 
    assistant_id INTEGER NOT NULL, 
    model_id INTEGER, 
    temperature FLOAT NOT NULL, 
    top_p FLOAT NOT NULL, 
    max_tokens INTEGER NOT NULL, 
    context_window INTEGER NOT NULL, 
    memory_enabled BOOLEAN NOT NULL, 
    rag_enabled BOOLEAN NOT NULL, 
    cag_enabled BOOLEAN NOT NULL, 
    tool_calling_enabled BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_assistant_config_assistant_id FOREIGN KEY(assistant_id) REFERENCES assistants (id), 
    CONSTRAINT fk_assistant_config_model_id FOREIGN KEY(model_id) REFERENCES models (id)
);

CREATE UNIQUE INDEX ix_assistant_configs_assistant_id ON assistant_configs (assistant_id);

CREATE INDEX ix_assistant_configs_id ON assistant_configs (id);

CREATE INDEX ix_assistant_configs_model_id ON assistant_configs (model_id);

UPDATE alembic_version SET version_num='3740c95fb57a' WHERE alembic_version.version_num = 'dda8ed4848d5';

-- Running upgrade 3740c95fb57a -> 85a35c8aca5b

CREATE TABLE model_deployments (
    id SERIAL NOT NULL, 
    model_version_id INTEGER NOT NULL, 
    deployment_name VARCHAR(255) NOT NULL, 
    deployment_type VARCHAR(100) NOT NULL, 
    endpoint_url VARCHAR(500) NOT NULL, 
    max_context_window INTEGER NOT NULL, 
    gpu_type VARCHAR(100), 
    gpu_count INTEGER, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_model_deployment_model_version_id FOREIGN KEY(model_version_id) REFERENCES model_versions (id)
);

CREATE INDEX ix_model_deployments_id ON model_deployments (id);

CREATE INDEX ix_model_deployments_model_version_id ON model_deployments (model_version_id);

UPDATE alembic_version SET version_num='85a35c8aca5b' WHERE alembic_version.version_num = '3740c95fb57a';

-- Running upgrade 85a35c8aca5b -> 5a082200dd13

CREATE TABLE datasets (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    domain VARCHAR(100) NOT NULL, 
    version VARCHAR(50) NOT NULL, 
    description TEXT, 
    source VARCHAR(255), 
    record_count INTEGER DEFAULT '0' NOT NULL, 
    status VARCHAR(50) DEFAULT 'draft' NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_datasets_domain ON datasets (domain);

CREATE INDEX ix_datasets_id ON datasets (id);

UPDATE alembic_version SET version_num='5a082200dd13' WHERE alembic_version.version_num = '85a35c8aca5b';

-- Running upgrade 5a082200dd13 -> 0124b722b3b9

CREATE TABLE training_jobs (
    id SERIAL NOT NULL, 
    dataset_id INTEGER NOT NULL, 
    base_model VARCHAR(255) NOT NULL, 
    training_type VARCHAR(100) NOT NULL, 
    status VARCHAR(50) DEFAULT 'pending' NOT NULL, 
    artifact_path VARCHAR(1000), 
    started_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_training_job_dataset_id FOREIGN KEY(dataset_id) REFERENCES datasets (id)
);

CREATE INDEX ix_training_jobs_dataset_id ON training_jobs (dataset_id);

CREATE INDEX ix_training_jobs_id ON training_jobs (id);

CREATE INDEX ix_training_jobs_status ON training_jobs (status);

UPDATE alembic_version SET version_num='0124b722b3b9' WHERE alembic_version.version_num = '5a082200dd13';

-- Running upgrade 0124b722b3b9 -> abd5baa2ae71

CREATE TABLE model_artifacts (
    id SERIAL NOT NULL, 
    training_job_id INTEGER NOT NULL, 
    artifact_name VARCHAR(255) NOT NULL, 
    artifact_path VARCHAR(1000) NOT NULL, 
    artifact_type VARCHAR(100) NOT NULL, 
    size_bytes BIGINT, 
    checksum VARCHAR(255), 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_model_artifact_training_job_id FOREIGN KEY(training_job_id) REFERENCES training_jobs (id)
);

CREATE INDEX ix_model_artifacts_id ON model_artifacts (id);

CREATE INDEX ix_model_artifacts_training_job_id ON model_artifacts (training_job_id);

CREATE INDEX ix_model_artifacts_artifact_type ON model_artifacts (artifact_type);

UPDATE alembic_version SET version_num='abd5baa2ae71' WHERE alembic_version.version_num = '0124b722b3b9';

-- Running upgrade abd5baa2ae71 -> f7e5658a3e24

CREATE TABLE evaluation_jobs (
    id SERIAL NOT NULL, 
    artifact_id INTEGER NOT NULL, 
    evaluation_type VARCHAR(100) NOT NULL, 
    accuracy_score FLOAT, 
    hallucination_score FLOAT, 
    latency_score FLOAT, 
    overall_score FLOAT, 
    status VARCHAR(50) DEFAULT 'pending' NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_evaluation_job_artifact_id FOREIGN KEY(artifact_id) REFERENCES model_artifacts (id)
);

CREATE INDEX ix_evaluation_jobs_artifact_id ON evaluation_jobs (artifact_id);

CREATE INDEX ix_evaluation_jobs_id ON evaluation_jobs (id);

CREATE INDEX ix_evaluation_jobs_status ON evaluation_jobs (status);

UPDATE alembic_version SET version_num='f7e5658a3e24' WHERE alembic_version.version_num = 'abd5baa2ae71';

-- Running upgrade f7e5658a3e24 -> 2c5b12e13a6f

CREATE TABLE model_promotions (
    id SERIAL NOT NULL, 
    evaluation_job_id INTEGER NOT NULL, 
    promotion_status VARCHAR(50) DEFAULT 'pending' NOT NULL, 
    approved_by VARCHAR(255), 
    approval_reason TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_model_promotion_evaluation_job_id FOREIGN KEY(evaluation_job_id) REFERENCES evaluation_jobs (id)
);

CREATE INDEX ix_model_promotions_evaluation_job_id ON model_promotions (evaluation_job_id);

CREATE INDEX ix_model_promotions_id ON model_promotions (id);

CREATE INDEX ix_model_promotions_status ON model_promotions (promotion_status);

UPDATE alembic_version SET version_num='2c5b12e13a6f' WHERE alembic_version.version_num = 'f7e5658a3e24';

-- Running upgrade 2c5b12e13a6f -> b18b5aa2578c

CREATE TABLE model_releases (
    id SERIAL NOT NULL, 
    promotion_id INTEGER NOT NULL, 
    release_version VARCHAR(100) NOT NULL, 
    release_name VARCHAR(255) NOT NULL, 
    release_notes TEXT, 
    created_by VARCHAR(255), 
    release_status VARCHAR(50) DEFAULT 'draft' NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_model_release_promotion_id FOREIGN KEY(promotion_id) REFERENCES model_promotions (id)
);

CREATE INDEX ix_model_releases_id ON model_releases (id);

CREATE INDEX ix_model_releases_promotion_id ON model_releases (promotion_id);

CREATE INDEX ix_model_releases_status ON model_releases (release_status);

UPDATE alembic_version SET version_num='b18b5aa2578c' WHERE alembic_version.version_num = '2c5b12e13a6f';

-- Running upgrade b18b5aa2578c -> 52c7d85947de

CREATE TABLE training_providers (
    id SERIAL NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    display_name VARCHAR(255) NOT NULL, 
    provider_type VARCHAR(100) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_training_providers_code ON training_providers (code);

CREATE INDEX ix_training_providers_id ON training_providers (id);

CREATE INDEX ix_training_providers_provider_type ON training_providers (provider_type);

UPDATE alembic_version SET version_num='52c7d85947de' WHERE alembic_version.version_num = 'b18b5aa2578c';

-- Running upgrade 52c7d85947de -> ae4db7a4fe2f

ALTER TABLE training_jobs ADD COLUMN training_provider_id INTEGER;

CREATE INDEX ix_training_jobs_training_provider_id ON training_jobs (training_provider_id);

ALTER TABLE training_jobs ADD CONSTRAINT fk_training_job_provider_id FOREIGN KEY(training_provider_id) REFERENCES training_providers (id);

UPDATE alembic_version SET version_num='ae4db7a4fe2f' WHERE alembic_version.version_num = '52c7d85947de';

-- Running upgrade ae4db7a4fe2f -> 53e37ab4e9f2

CREATE TABLE corpora (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    domain VARCHAR(100) NOT NULL, 
    description VARCHAR, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_corpora_domain ON corpora (domain);

CREATE INDEX ix_corpora_id ON corpora (id);

CREATE TABLE corpus_sources (
    id SERIAL NOT NULL, 
    corpus_id INTEGER NOT NULL, 
    source_type VARCHAR(100) NOT NULL, 
    source_reference VARCHAR(1000) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_corpus_source_corpus_id FOREIGN KEY(corpus_id) REFERENCES corpora (id)
);

CREATE INDEX ix_corpus_sources_corpus_id ON corpus_sources (corpus_id);

CREATE INDEX ix_corpus_sources_id ON corpus_sources (id);

CREATE INDEX ix_corpus_sources_source_type ON corpus_sources (source_type);

UPDATE alembic_version SET version_num='53e37ab4e9f2' WHERE alembic_version.version_num = 'ae4db7a4fe2f';

-- Running upgrade 53e37ab4e9f2 -> 6f1f2ceddc38

ALTER TABLE datasets ADD COLUMN corpus_id INTEGER;

CREATE INDEX ix_datasets_corpus_id ON datasets (corpus_id);

ALTER TABLE datasets ADD CONSTRAINT fk_dataset_corpus_id FOREIGN KEY(corpus_id) REFERENCES corpora (id);

UPDATE alembic_version SET version_num='6f1f2ceddc38' WHERE alembic_version.version_num = '53e37ab4e9f2';

-- Running upgrade 6f1f2ceddc38 -> c3a14be429a6

CREATE TABLE ingestion_jobs (
    id SERIAL NOT NULL, 
    corpus_source_id INTEGER NOT NULL, 
    dataset_id INTEGER, 
    status VARCHAR(50) NOT NULL, 
    records_processed INTEGER NOT NULL, 
    error_message VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_ingestion_job_corpus_source_id FOREIGN KEY(corpus_source_id) REFERENCES corpus_sources (id), 
    CONSTRAINT fk_ingestion_job_dataset_id FOREIGN KEY(dataset_id) REFERENCES datasets (id)
);

CREATE INDEX ix_ingestion_jobs_corpus_source_id ON ingestion_jobs (corpus_source_id);

CREATE INDEX ix_ingestion_jobs_dataset_id ON ingestion_jobs (dataset_id);

CREATE INDEX ix_ingestion_jobs_id ON ingestion_jobs (id);

CREATE INDEX ix_ingestion_jobs_status ON ingestion_jobs (status);

UPDATE alembic_version SET version_num='c3a14be429a6' WHERE alembic_version.version_num = '6f1f2ceddc38';

-- Running upgrade c3a14be429a6 -> df650da5effa

CREATE TABLE connector_types (
    id SERIAL NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    display_name VARCHAR(255) NOT NULL, 
    description VARCHAR, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_connector_types_code ON connector_types (code);

CREATE TABLE connector_implementations (
    id SERIAL NOT NULL, 
    connector_type_id INTEGER NOT NULL, 
    implementation_code VARCHAR(100) NOT NULL, 
    version VARCHAR(100) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    configuration_schema JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_connector_impl_type_id FOREIGN KEY(connector_type_id) REFERENCES connector_types (id), 
    CONSTRAINT uq_connector_impl_version UNIQUE (implementation_code, version)
);

CREATE INDEX ix_connector_implementations_connector_type_id ON connector_implementations (connector_type_id);

CREATE INDEX ix_connector_implementations_implementation_code ON connector_implementations (implementation_code);

CREATE INDEX ix_connector_implementations_status ON connector_implementations (status);

CREATE TABLE connector_instances (
    id SERIAL NOT NULL, 
    connector_implementation_id INTEGER NOT NULL, 
    organization_id INTEGER, 
    name VARCHAR(255) NOT NULL, 
    instance_code VARCHAR(100) NOT NULL, 
    description VARCHAR, 
    status VARCHAR(50) NOT NULL, 
    configuration_json JSONB NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_connector_instance_impl_id FOREIGN KEY(connector_implementation_id) REFERENCES connector_implementations (id)
);

CREATE INDEX ix_connector_instances_connector_implementation_id ON connector_instances (connector_implementation_id);

CREATE UNIQUE INDEX ix_connector_instances_instance_code ON connector_instances (instance_code);

CREATE INDEX ix_connector_instances_organization_id ON connector_instances (organization_id);

CREATE INDEX ix_connector_instances_status ON connector_instances (status);

UPDATE alembic_version SET version_num='df650da5effa' WHERE alembic_version.version_num = 'c3a14be429a6';

-- Running upgrade df650da5effa -> c20e82109506

CREATE TABLE data_pipelines (
    id SERIAL NOT NULL, 
    corpus_id INTEGER NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    pipeline_code VARCHAR(100) NOT NULL, 
    dataset_id INTEGER, 
    version VARCHAR(100) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_pipeline_corpus_id FOREIGN KEY(corpus_id) REFERENCES corpora (id), 
    CONSTRAINT fk_pipeline_dataset_id FOREIGN KEY(dataset_id) REFERENCES datasets (id), 
    CONSTRAINT uq_pipeline_corpus_version UNIQUE (corpus_id, version)
);

CREATE INDEX ix_data_pipelines_corpus_id ON data_pipelines (corpus_id);

CREATE INDEX ix_data_pipelines_dataset_id ON data_pipelines (dataset_id);

CREATE UNIQUE INDEX ix_data_pipelines_pipeline_code ON data_pipelines (pipeline_code);

CREATE INDEX ix_data_pipelines_status ON data_pipelines (status);

CREATE TABLE data_pipeline_steps (
    id SERIAL NOT NULL, 
    pipeline_id INTEGER NOT NULL, 
    step_order INTEGER NOT NULL, 
    step_code VARCHAR(100) NOT NULL, 
    step_type VARCHAR(100) NOT NULL, 
    runtime_code VARCHAR(100) NOT NULL, 
    configuration_json VARCHAR, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_pipeline_step_pipeline_id FOREIGN KEY(pipeline_id) REFERENCES data_pipelines (id), 
    CONSTRAINT uq_pipeline_step_order UNIQUE (pipeline_id, step_order)
);

CREATE INDEX ix_data_pipeline_steps_pipeline_id ON data_pipeline_steps (pipeline_id);

CREATE INDEX ix_data_pipeline_steps_runtime_code ON data_pipeline_steps (runtime_code);

CREATE INDEX ix_data_pipeline_steps_step_code ON data_pipeline_steps (step_code);

CREATE INDEX ix_data_pipeline_steps_step_type ON data_pipeline_steps (step_type);

CREATE TABLE pipeline_runs (
    id SERIAL NOT NULL, 
    pipeline_id INTEGER NOT NULL, 
    run_code VARCHAR(100) NOT NULL, 
    trigger_type VARCHAR(100) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    metrics_json JSONB, 
    started_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    error_message VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_pipeline_run_pipeline_id FOREIGN KEY(pipeline_id) REFERENCES data_pipelines (id)
);

CREATE INDEX ix_pipeline_runs_id ON pipeline_runs (id);

CREATE INDEX ix_pipeline_runs_pipeline_id ON pipeline_runs (pipeline_id);

CREATE UNIQUE INDEX ix_pipeline_runs_run_code ON pipeline_runs (run_code);

CREATE INDEX ix_pipeline_runs_status ON pipeline_runs (status);

CREATE INDEX ix_pipeline_runs_trigger_type ON pipeline_runs (trigger_type);

CREATE TABLE dataset_records (
    id SERIAL NOT NULL, 
    dataset_id INTEGER NOT NULL, 
    corpus_source_id INTEGER, 
    record_type VARCHAR(100) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    record_version VARCHAR(100) NOT NULL, 
    record_hash VARCHAR(255) NOT NULL, 
    validation_score INTEGER, 
    input_text TEXT NOT NULL, 
    output_text TEXT, 
    metadata_json JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_dataset_record_corpus_source_id FOREIGN KEY(corpus_source_id) REFERENCES corpus_sources (id), 
    CONSTRAINT fk_dataset_record_dataset_id FOREIGN KEY(dataset_id) REFERENCES datasets (id), 
    CONSTRAINT uq_dataset_record_hash UNIQUE (dataset_id, record_hash)
);

CREATE INDEX ix_dataset_records_corpus_source_id ON dataset_records (corpus_source_id);

CREATE INDEX ix_dataset_records_dataset_id ON dataset_records (dataset_id);

CREATE INDEX ix_dataset_records_record_hash ON dataset_records (record_hash);

CREATE INDEX ix_dataset_records_record_type ON dataset_records (record_type);

CREATE INDEX ix_dataset_records_record_version ON dataset_records (record_version);

CREATE INDEX ix_dataset_records_status ON dataset_records (status);

CREATE TABLE pipeline_step_runs (
    id SERIAL NOT NULL, 
    pipeline_run_id INTEGER NOT NULL, 
    pipeline_step_id INTEGER NOT NULL, 
    step_run_code VARCHAR(100) NOT NULL, 
    execution_order INTEGER NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    metrics_json JSONB, 
    started_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    error_message VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_pipeline_step_run_pipeline_run_id FOREIGN KEY(pipeline_run_id) REFERENCES pipeline_runs (id), 
    CONSTRAINT fk_pipeline_step_run_step_id FOREIGN KEY(pipeline_step_id) REFERENCES data_pipeline_steps (id), 
    CONSTRAINT uq_pipeline_step_run UNIQUE (pipeline_run_id, pipeline_step_id)
);

CREATE INDEX ix_pipeline_step_runs_id ON pipeline_step_runs (id);

CREATE INDEX ix_pipeline_step_runs_pipeline_run_id ON pipeline_step_runs (pipeline_run_id);

CREATE INDEX ix_pipeline_step_runs_pipeline_step_id ON pipeline_step_runs (pipeline_step_id);

CREATE INDEX ix_pipeline_step_runs_status ON pipeline_step_runs (status);

CREATE UNIQUE INDEX ix_pipeline_step_runs_step_run_code ON pipeline_step_runs (step_run_code);

ALTER TABLE corpus_sources ADD COLUMN connector_instance_id INTEGER;

DROP INDEX ix_corpus_sources_source_type;

CREATE INDEX ix_corpus_sources_connector_instance_id ON corpus_sources (connector_instance_id);

CREATE INDEX ix_corpus_sources_source_reference ON corpus_sources (source_reference);

ALTER TABLE corpus_sources ADD CONSTRAINT uq_corpus_source_reference UNIQUE (corpus_id, connector_instance_id, source_reference);

ALTER TABLE corpus_sources ADD CONSTRAINT fk_corpus_source_connector_instance_id FOREIGN KEY(connector_instance_id) REFERENCES connector_instances (id);

ALTER TABLE corpus_sources DROP COLUMN source_type;

UPDATE alembic_version SET version_num='c20e82109506' WHERE alembic_version.version_num = 'df650da5effa';

-- Running upgrade c20e82109506 -> fb257d3d0a8f

ALTER TABLE corpus_sources ALTER COLUMN connector_instance_id SET NOT NULL;

UPDATE alembic_version SET version_num='fb257d3d0a8f' WHERE alembic_version.version_num = 'c20e82109506';

-- Running upgrade fb257d3d0a8f -> f5af4b9f71b6

DROP INDEX ix_corpus_sources_id;

DROP INDEX ix_pipeline_runs_id;

DROP INDEX ix_pipeline_step_runs_id;

UPDATE alembic_version SET version_num='f5af4b9f71b6' WHERE alembic_version.version_num = 'fb257d3d0a8f';

-- Running upgrade f5af4b9f71b6 -> 3f24231fab8e

ALTER TABLE data_pipeline_steps ALTER COLUMN configuration_json TYPE JSONB USING configuration_json::jsonb;

ALTER TABLE data_pipeline_steps ADD CONSTRAINT uq_pipeline_step_code UNIQUE (pipeline_id, step_code);

UPDATE alembic_version SET version_num='3f24231fab8e' WHERE alembic_version.version_num = 'f5af4b9f71b6';

-- Running upgrade 3f24231fab8e -> bd8184ed0ba4

ALTER TABLE pipeline_runs ADD COLUMN dataset_id INTEGER;

ALTER TABLE pipeline_runs ADD COLUMN corpus_source_id INTEGER;

CREATE INDEX ix_pipeline_runs_dataset_id ON pipeline_runs (dataset_id);

CREATE INDEX ix_pipeline_runs_corpus_source_id ON pipeline_runs (corpus_source_id);

ALTER TABLE pipeline_runs ADD CONSTRAINT fk_pipeline_run_dataset_id FOREIGN KEY(dataset_id) REFERENCES datasets (id);

ALTER TABLE pipeline_runs ADD CONSTRAINT fk_pipeline_run_corpus_source_id FOREIGN KEY(corpus_source_id) REFERENCES corpus_sources (id);

UPDATE alembic_version SET version_num='bd8184ed0ba4' WHERE alembic_version.version_num = '3f24231fab8e';

-- Running upgrade bd8184ed0ba4 -> fc4226062950

ALTER TABLE models ADD COLUMN status VARCHAR(50) DEFAULT 'DRAFT' NOT NULL;

ALTER TABLE models ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

CREATE INDEX ix_models_status ON models (status);

CREATE INDEX ix_models_provider_id ON models (provider_id);

UPDATE alembic_version SET version_num='fc4226062950' WHERE alembic_version.version_num = 'bd8184ed0ba4';

-- Running upgrade fc4226062950 -> cfd60796c9b0

CREATE INDEX ix_connector_instances_id ON connector_instances (id);

CREATE INDEX ix_corpus_sources_id ON corpus_sources (id);

SELECT COUNT(*)
            FROM datasets
            WHERE corpus_id IS NULL;

